In [14]:
x = 7
y= "data"
print(x)
print(y)

7
data

In [15]:
str1 = "what are you studying"
str2 = "analytics"
combined = f"{str1} {str2}"
print(str1+ "\n"+ str2)

what are you studying
analytics

In [16]:
#indexing a string
#remember, indexing starts at 0, so 9 is the 10th character
print(str1[0])
print(str1[-1])

w
g

In [ ]:
#uppercase
print(str1.upper())

WHAT ARE YOU STUDYING

In [19]:
#find is case sensitive method of finding a substring
print(str1.find("are"))

5

In [20]:
for i in range(1, 21, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#f strings allow you to embed expressions inside string literals, using curly braces {}
name = "Pamela Schlosser"
print("Hello, I am " + name + ". I have been teaching at WM since 2020.")
print(f"Hello, I am {name}. I have been teaching at WM since 2020.")

Hello, I am Pamela Schlosser. I have been teaching at WM since 2020.
Hello, I am Pamela Schlosser. I have been teaching at WM since 2020.

In [31]:
d1 = {"name":"Schlosser", "age":23, "city": "Williamsburg"} # This is a dictionary where "name", "age", and "city" are the keys
print(d1["name"])
print(d1.get("age"))
for key, value in d1.items():
    print(key,":",value)

Schlosser
23
name : Schlosser
age : 23
city : Williamsburg

In [32]:
people = {
    "person1": {"name": "Schlosser", "age": 23, "city": "Williamsburg"},
    "person2": {"name": "Smith", "age": 30, "city": "Newport News"}
    }
print(people)

{'person1': {'name': 'Schlosser', 'age': 23, 'city': 'Williamsburg'}, 'person2': {'name': 'Smith', 'age': 30, 'city': 'Newport News'}}

In [35]:
distances = {
"A": {"B": 10, "C": 15},
"B": {"A": 10, "C": 20},
"C": {"A": 15, "B": 20}
}
print(distances)
print(distances["A"]["B"])  # Output: 10

{'A': {'B': 10, 'C': 15}, 'B': {'A': 10, 'C': 20}, 'C': {'A': 15, 'B': 20}}
10

In [36]:
Students = {
"Bryce": {"B":.2, "C": .4},
"Mann": {"A": .2, "C": .2},
"Tai": {"A": .4, "B": .2},
"Connor" : {"A": .3, "B": .3, "C": .1}

}
print(Students)

{'Bryce': {'B': 0.2, 'C': 0.4}, 'Mann': {'A': 0.2, 'C': 0.2}, 'Tai': {'A': 0.4, 'B': 0.2}, 'Connor': {'A': 0.3, 'B': 0.3, 'C': 0.1}}

In [27]:
t1 = (1, 2, 3, 4, 5) # This is a tuple
print(t1) # This will print the tuple t1

(1, 2, 3, 4, 5)

In [37]:
x = 10
if x > 5:print("x is greater than 5")

x is greater than 5

In [38]:
x = 0
if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

Zero

In [41]:
x = 0
while x < 5:
    if x % 2 == 0:
        print(x, "is even")
    else:
        print(x, "is odd")
    x += 1

0 is even
1 is odd
2 is even
3 is odd
4 is even

In [42]:
def sum_up(a,b):
    return a + b
result = sum_up(3, 5)
print(result)

8

In [48]:

import numpy as np

import pandas as pd